## Pandas lesson

**Pandas is an open source library that is used to analyze data in Python. It takes in data, like a CSV or SQL database, and creates an object with rows and columns called a data frame. Pandas is typically imported with the alias pd.**

Pandas Series and Dataframes

- Just as the ndarray is the foundation of the NumPy library, the Series is the core object of the pandas library. A pandas Series is very similar to a one-dimensional NumPy array, but it has additional functionality that allows values in the Series to be indexed using labels. A NumPy array does not have the flexibility to do this. This labeling is useful when you are storing pieces of data that have other data associated with them. Say you want to store the ages of students in an online course to eventually figure out the average student age. If stored in a NumPy array, you could only access these ages with the internal ndarray indices 0,1,2.... With a Series object, the indices of values are set to 0,1,2... by default, but you can customize the indices to be other values such as student names so an age can be accessed using a name. Customized indices of a Series are established by sending values into the Series constructor, as you will see below.

- A Series holds items of any one data type and can be created by sending in a scalar value, Python list, dictionary, or ndarray as a parameter to the pandas Series constructor. If a dictionary is sent in, the keys may be used as the indices.

- Series objects provide more information than NumPy arrays do. Printing a NumPy array of ages does not print the indices or allow us to customize them.

- RO: Așa cum ndarray este fundamentul bibliotecii NumPy, Seria este obiectul principal al bibliotecii pandas. O serie pandas este foarte asemănătoare cu o matrice unidimensională NumPy, dar are o funcționalitate suplimentară care permite indexarea valorilor din serie folosind etichete. O matrice NumPy nu are flexibilitatea de a face acest lucru. Această etichetare este utilă atunci când stocați bucăți de date care au asociate alte date. Spuneți că doriți să stocați vârstele studenților într-un curs online pentru a afla în cele din urmă vârsta medie a studenților. Dacă este stocat într-o matrice NumPy, puteți accesa aceste vârste numai cu indicii interni ndarray 0,1,2 .... Cu un obiect Series, indicii valorilor sunt setați la 0,1,2 ... în mod implicit dar puteți personaliza indicii pentru a fi alte valori, cum ar fi numele studenților, astfel încât o vârstă poate fi accesată folosind un nume. Indicii personalizați ai unei serii sunt stabiliți prin trimiterea de valori în constructorul Seriei, așa cum veți vedea mai jos.

- O serie conține elemente de orice tip de date și poate fi creată prin trimiterea unei valori scalare, a unei liste Python, a unui dicționar sau a unui ndarray ca parametru către constructorul Seriei pandas. Dacă este trimis un dicționar, tastele pot fi folosite ca indici.


**DataFrame**
- Another important type of object in the pandas library is the DataFrame. This object is similar in form to a matrix as it consists of rows and columns. Both rows and columns can be indexed with integers or String names. One DataFrame can contain many different types of data types, but within a column, everything has to be the same data type. A column of a DataFrame is essentially a Series. All columns must have the same number of elements (rows).

- There are different ways to fill a DataFrame such as with a CSV file, a SQL query, a Python list, or a dictionary. Here we have created a DataFrame using a Python list of lists. Each nested list represents the data in one row of the DataFrame. We use the keyword columns to pass in the list of our custom column names.

- RO:Un alt tip important de obiect din biblioteca pandas este DataFrame. Acest obiect are o formă similară cu o matrice, deoarece este format din rânduri și coloane. Ambele rânduri și coloane pot fi indexate cu numere întregi sau nume de șiruri. Un DataFrame poate conține multe tipuri diferite de tipuri de date, dar într-o coloană, totul trebuie să fie același tip de date. O coloană dintr-un DataFrame este în esență o serie. Toate coloanele trebuie să aibă același număr de elemente (rânduri).

- Există diferite moduri de a completa un DataFrame, cum ar fi cu un fișier CSV, o interogare SQL, o listă Python sau un dicționar. Aici am creat un DataFrame folosind o listă Python de liste. Fiecare listă imbricată reprezintă datele dintr-un rând al DataFrame. Folosim coloanele de cuvinte cheie pentru a trece în lista numelor noastre de coloane personalizate.

**Set the index of DataFrame**
- The default row indices are 0,1,2..., but these can be changed. For example, they can be set to be the elements in one of the columns of the DataFrame. To use the names column as indices instead of the default numerical values, we can run the following command on our DataFrame: **dataf.set_index('name')**

In [2]:
#import pandas module
import pandas as pd
import numpy as np
from datetime import datetime

 **Loading data from csv file**

In [3]:
#load data intoPandas from a csv(comma separated files)
df = pd.read_csv("KNN_Dataset.csv")
#examine the first 10 rows of you data 
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

**Select specific customized rows**

#select specific rows for someone with age 50 and BMI greater tham 33
#you can play with different values 
df[(df.Age == 50) & (df.BMI >= 25)]

**Create a dataframe from a dictionary**

In [4]:
#create a data frame:A DataFrame is an object that stores data as rows and columns, each column has a name which is a string 
#and each value is a list of column values {"name": ["petru", "vera", "albert"]}
df1 = pd.DataFrame({
    'name': ['John Smith', 'Jane Doe', 'Joe Schmo'],
    'address': ['123 Main St.', '456 Maple Ave.', '789 Broadway'],
    'age': [34, 28, 51]})
df1

         name         address  age
0  John Smith    123 Main St.   34
1    Jane Doe  456 Maple Ave.   28
2   Joe Schmo    789 Broadway   51

**Create a dataframe by using list of lists**

In [5]:
#different way to create dataframe by using list of lists "[[]]", each one represents a row of data and each elemnt from list
#allocated to one column,using keyword argument  columns to pass a list of coluns names 
df2 = pd.DataFrame([['John Smith', '123 Main St.', 34], ['Jane Doe', '456 Maple Ave.', 28],['Joe Schmo', '789 Broadway', 51]],
    columns=['name', 'address', 'age'])
df3 = pd.DataFrame([["petru", 37, "engineering"], ["vera", 37, "teacher"]], columns = ["name", "age", "profession"])
df3

    name  age   profession
0  petru   37  engineering
1   vera   37      teacher

In [ ]:
#CSV are datasets that alraedy exsist, first row is the columns heading, all sussequent row contains values  
#CSV file each column heading and each variable is separted by comma 
#column1,column2,column3
#value1,value2,value3
df4 = pd.DataFrame([['Devil’s Food','chocolate', 'chocolate','chocolate shavings'], 
                    ['Birthday Cake', 'vanilla', 'vanilla', 'rainbow sprinkles']], 
                   columns = ['name', 'cake_flavor','frosting_flavor','topping'])
df4.head()

**Print first five rows without header**

#method head() gives the first 5 rows of a dataframe if you want more you can pass head(10)
df4 = pd.DataFrame(df)
df4.head(10)
#method info() give you some statistics information about each column
df.info()

**Select one column**

In [ ]:
#select one column
# 1.selecting the column as you selecting value from a dictionary using a key 
#2. If names of column follow the rules then (do not contains spaces or special characteristics) "objevct_name.columns_name"
#check up the print after the type method, series 
df.BMI
df["BMI"]
print(type(df.BMI))

**Selecting more than one column**

In [ ]:
#selecting more then one column, to select more than one column from dataframe we use a list of the column names "[[]]"
#check up the print after the type method data frame 
df[["Age", "BMI"]]
print(type(df[["Age", "BMI"]]))

**Select one row or multiple rows with iloc() command**

#select rows and select multiple rows
#data frames are 0 indexed means that starts with 0th row 
print(df.iloc[1 : 5]) # select the first 4 rows, 5 is excluded
print(df.iloc[2:10,0: 4])
print()
print(type(df.iloc[1]))

**Select row with logical operators**

#Select Rows with Logic I
#you can select a subset of a dataframe by using logical statements(=,<,>,!) df[df.MyColumnName == desired_column_value]
#for example we want to select a row where the customer's age is 35
df[df.Age == 35]
#this snippet selects all rows where the customer glucose is not 87
df[df.Glucose != 87]

# Select Rows with Logic II
#for example that you want to select rows with customer age under 50 and BMI greater than 35 ""| = or"
#daca vrei sa selectezi un interval intre varstele 35 si 50 poti folosi operatorul logic "or"
df[(df.Age == 50) | (df.Age == 35)]

In [ ]:
#Select Rows with Logic III
#command isin() check the value passed in as parameter and returns subset of a dataframe with rows containing those parameter values
#suppose we want to select the rows with age 50, 35 and 65
df[df.Age.isin([35, 50, 60])]
print(type(df[df.Age.isin([35, 50, 65])]))

**Select rows with command isin() and reset indices**

In [ ]:
#Setting indices
#when we select asubset of a dataframe using logic we end up with nonconsecutive indices 
#we can fix this using method reset_index(), old indices has been saved under Index column in order to get rid of them use drop = True
age_35_50_60 = df[df.Age.isin([35, 50, 65])]
df6 = age_35_50_60.reset_index(drop = True, inplace = True)
print(df6)
#for inplace True returns None, seems that inplace is for overwrite the dataframe

**Adding a column I.** 

One way to add a column is by giving a list of the same length as the existing dataframe

In [ ]:
df7 = pd.DataFrame([[1, '3 inch screw', 0.5, 0.75],[2, '2 inch nail', 0.10, 0.25],[3, 'hammer', 3.00, 5.50], 
                   [4, 'screwdriver', 2.50, 3.00]],columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price'])
#adding a new column 
df7["quantity"] = [15, 35, 57, 82]
df7

Adding a column II
We can also add a new column that is the same for all rows in the DataFrame.

In [ ]:
df7["In_stock"] = True
df7

**Adding a column III**

We can add a new column by performing a function on the existing columns

In [ ]:
df7["Total"] = df7.Price * df7.quantity
df7["Margins"] = df7.Price - df7["Cost to Manufacture"]
df7

**Working with columns**

Un exemplu de vizualizare cu ajutorul logical operators, am creat un subset iar din acel subset am extras persoanele cu varsta de 50 de ani in cazul de fata am pus BMI dar merge si fara

In [ ]:
df = pd.read_csv("KNN_Dataset.csv")
df8 = df[["BMI", "Age"]]
df11 = df8[df8.Age == 50]
df11.reset_index(drop = True)

**Performing column operation.**

In [ ]:
df10 = pd.DataFrame([['JOHN SMITH', 'john.smith@gmail.com'],['Jane Doe', 'jdoe@yahoo.com'],['joe schmo', 'joeschmo@hotmail.com']],
columns=['Name', 'Email'])
df10


**Using str() function to add another column.**

In [ ]:
#using lower function to lowercase the entire column = name_df.name_column.str.lower()
# what str does? converts specified value into a string
df10["Lowercase Name"] = df10.Name.str.lower()
df10

**Apply function = apply a "function" along an axis of the data frame, 
returns series or dataframe. Objects passed to the function are series objects**

In [ ]:
#apply function create the dataframe
df1 = pd.DataFrame([[4, 3, 5]] * 3, columns = ["A", "B", "C"])
df1

In [ ]:
#modify values for entire column and add new column
#modify values for entire dataframe 
df1["Sqr"] = df1.A.apply(np.sqrt)
df1

In [ ]:
#apply function for all values returns data frame
df1.apply(np.sqrt)

In [ ]:
#apply using axis along rows, axis = 0  return series sum of column values with index column name axis = 1 return series sum of row values with index of dataframe indexes
df2 = df1.apply(np.sum, axis = 1)
#print(type(df2))
df2

**Using lambda with built in function apply**

Lambda function is a way of defening a function in a single line of code ussualy assign it to a variable. Lambda works with all types of variable like strings not only integers lambda x: [outcome if true] if [conditional] else [outcome if false] 

Applyng lambda to a column, for example we want to create a column with email provider of each email address split() separates a string into a list of strings, you can specify separator where to split the string, maxsplit specifies how many splits to do in our case which halve to keep in to the column we can also operate on multiple columns by not specifying the column name and including axis = 1 the output would be an entire row not a column df["new_column_name"] = df.apply(lambda row: row["column_name"] * quantity if row.second_column == "Yes" else row["column_name"]) we can access in both way row.colomn_name or row["colomn_name"]

In [ ]:
my_lambda = lambda x: (x + 3) ** 2
my_lambda(2)

In [ ]:
lambda_str = lambda x: x.lower()
lambda_str("HELLO")
mylambda = lambda x: x[0] + x[len(x)-1]
mylambda("Hello world")

In [ ]:
mylambda = lambda x: "Batterfield No!" if x >= 13 else "Wellcome!!!"
print(mylambda(12))

In [ ]:
#applying lambda to a column
df10["email_provider"] = df10.Email.apply(lambda x: x.split('@')[-1])
df10

In [ ]:
#apply lambda to a row
df3 = pd.DataFrame({"names":['Lauren Durham','Grace Sellers','Shirley Rasmussen','Brian Rojas','Samantha Mosley','Louis Guzman','Denise Mcclure','James Raymond'], "hourly_wage" : [19, 18, 14, 17, 19, 18, 13, 17], "hours_worked" : [43,30,47,38,39,40,42,45]})
df3

In [ ]:
#create new column with operation between two columns 
total_earned = lambda row: row["hourly_wage"] * (40 + (row["hours_worked"] - 40) * 1.5) if row["hours_worked"]  > 40 else row["hours_worked"] * row["hourly_wage"]
df3["total_earned"] = df3.apply(total_earned, axis = 1)
df3

**Renaming columns name**

#renaming columns but for all at once, this command modify existing dataframe
df3.columns = ["Names", "Hourlywage", "Hours_worked", "Total_earned"]
df3

In [ ]:
#second way to modify the header with method rename(),aceasta metod creeaza un nou data frame  keyword inplace save unchanged the original data frame
df6 = pd.DataFrame({'name': ['John', 'Jane', 'Sue', 'Fred'],'age': [23, 29, 21, 18]})

df6.rename(columns = {"name" : "Name", "age" : "Age"}, inplace = True)
print(df6)

**Recapitulare**

In [ ]:
#recapitulare
df4 = df3[df3.names == "Grace Sellers"]
df4


df5 = df3[(df3.Hourlywage >= 18) & (df3["Hours_worked"] == 30)]
df5

In [ ]:
#second way to modify the header with method rename(),aceasta metod creeaza un nou data frame  keyword inplace save unchanged the original data frame
df6 = pd.DataFrame({'name': ['John', 'Jane', 'Sue', 'Fred'],'age': [23, 29, 21, 18]})

df6.rename(columns = {"name" : "Name", "age" : "Age"}, inplace = True)
print(df6)

#metoda de calcul intre  doua coloane
df3["starter"] = df3["Hourlywage"] - df3["Hours_worked"]
df3

**Calculating Column Statistics**

The general syntax of these calculations is: df.coulumn_name.command()

#calculate the median value for one column
df3.Hourlywage.median()

#you want to know unique value = how many different groups with same value are in your column, the output is an integer.
df3["Hours_worked"].nunique()

In [ ]:
#get max value from a column
df3.starter.max()

In [ ]:
df.Age.mean()# mean value of the column
df.Age.median()
df.Age.std()#standard deviation 
df.Age.count()#number of values in column 
df.Age.min()#minimum value in column 
df.Age.nunique()#number of unique values in colomn 
df.Age.unique()#list of unique values in column

**Calculate Aggregate Fuctions I**

Following command syntax : df.groupby("column1").column2.measurement()

column1 is the column that we want to group by 

column2 is the column the we want to perform a measurement 

measurement is the measurement function want to apply 

returns a new series in order to return dataframe add method reset_index() on top of measurement

In [ ]:
#following command helps you to find the average age for each pregancies across all assigments 
df = pd.read_csv("KNN_Dataset.csv")
age = df.groupby('Pregnancies').Age.mean().reset_index()
age
print(type(age))

**Calculating Aggregate Functions II**

rename the column name by using replace(columns = {value : to replace})

In [ ]:
bloodpressure = df.groupby("BloodPressure").Age.count().reset_index()
bloodpressure["BloodPressure"].max()
bloodpressure = bloodpressure.rename(columns = {"Age" : "Counts"})

**Calculating Aggregate Functions III**

for more complicated operation is handly using apply() method and lambda functions

exampe: you want to **calculate percentile** of Glucose with respect of Age:  new_object = df.groupby("column1").column2.apply(lambda x: np.percentile(x, 75)).reset_index()

Return dataframe with one column Age and second column Glucose with value of percentege feed in to the percentile function

In [ ]:
percentile = df.groupby("Age").Glucose.apply(lambda x: np.percentile(x, 75)).reset_index()

**Numpy percentile()**

Example: if you have ana array of numeric values in ascending order, applying method percentile(array_name, percentege), will return sinngle output according to percentege paramater

In [ ]:
a = np.array([[10, 7, 4], [3, 2, 1]])
np.percentile(a, 50)

In [ ]:
np.percentile(a, 50, axis = 0)

In [ ]:
np.percentile(a, 50, axis = 1)

**Calculating Aggregate Functions IV**

grouping by more than one column, we can do this by adding a list of columns name 

Acest exemplu nu este tocmai relevant pentru acest subiect, functioneaza atunci cand ai o coloana cu week_date si grupezi dupa nume si data, masori valoarea maxima a vanzarilor facute de catre un magazin pentru fiecare zi, considerand ca ai mai multe magazine si vrei sa vezi care face vanzarea cea mai mare

twocolumns = df.groupby(["BloodPressure", "BMI"]).Glucose.count().reset_index()
twocolumns

**Pivot Tables**
pandas.dataframe.pivot(self, index=None, columns=None, values=None) command reorganize a table( te ajuta sa vezi si sa intelegi mai bine datele), is usable for subsets and after groupby() method

index = string sau object se refera la numele coloanei, va indexa noul tabel cu valorile din coloana respectiva

columns = string sau object se refera la numele unei coloane, va crea un nou header de col_names cu val. din coloana respectiva

values = str or object, coloana folosit pentru a popula interiorul tabelului, daca nu este folosit va umple cu coloanele nefolosite

In [ ]:
df11 = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
'two'],'bar': ['A', 'B', 'C', 'A', 'B', 'C'],'baz': [1, 2, 3, 4, 5, 6],'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [ ]:
#example of using pivot()
table = df11.pivot( index = "foo", columns = "bar", values = "baz")
table.reset_index()

In [ ]:
#second example of using pivot
table1 = df11.pivot(index = "foo", columns = "bar", values = ["baz", "zoo"])
table1.reset_index()

**Recapitulare**

The "~" is a NOT operator and isna() test whether or not the value of column is null, Obs!--> codacademy use isnull() and does the same as isna()

In [ ]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
~pd.isna(array)

In [ ]:
df = pd.read_csv("KNN_Dataset.csv")
df.head()

In [ ]:
df_group1 = df.groupby(["Pregnancies"]).BloodPressure.count().reset_index()

**Error = "lambda cannot contain assignment" inseamna ca x nu poate sa fie egal cu expresia sau sintaxa "x = df.Insulin.mean()"(gresit), daca punem "==" returns False or True , fara egal sau assign return valoarea medie a coloanei**

In [ ]:
#round the value but new object need to be created 
df["Insulin"] = df.Insulin.apply(lambda x: df.Insulin.mean() if x == 0 else x)
df1 = np.round(df, decimals = 1)

#same shit 
df.Insulin.apply(np.ceil)

**Introduction: Multiple DataFrames**

**Merge method**

A Venn diagram of the intersection of two sets. The RED area is the intersection. This is what we get from an INNER MERGE.

In Pandas the .merge() function uses an inner merge by default. An inner merge can be thought of as the intersection between two (or more) DataFrames. This is similar to a Venn diagram. In other words, an inner merge only returns rows both tables have in common. Any rows in one DataFrame that are not in the other, will not be in the result.

The .merge method looks for columns that are common between two DataFrames and then looks for rows where those column’s values are the same. It then combines the matching rows into a single row in a new table.
Pe scurt daca avem doua tabele cu coloane asemanatoare, merge method va trece prin coloane si randuri si va crea un nou df cu coloanele comune din cele doua df.

In [ ]:
df12 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df13 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                  'value': [5, 6, 7, 8]})
print(df12)
print(df13)

In [ ]:
merged = pd.merge(df12, df13)
merged

In [ ]:
merged = pd.merge(df12, df13, left_on = "lkey", right_on = "rkey", suffixes = ("_left", "_right"), how = "right")
merged

**New method to merge data frame**

Cam merge also 3 or more frames Example: big_df = orders.merge(customers).merge(products).merge(purchase)

In [ ]:
new_merge = df12.merge(df13)
new_merge

**Not all the time same name of column could have different content**

Example: Both df have one column named id but row content is differnt, this fact makes merging difficult. One option is to rename column: pd.merge(orders, customers.rename(columns={'id': 'customer_id'}))

**Merge on Specific Columns II**

Another option to to chnage the column name is by using keywords left_on, and right_on to specify which columns to perform the merge on.
Example:  In the example below, the “left” table is the one that comes first (orders), and the “right” table is the one that comes second (customers). This syntax says that we should match the customer_id from orders to the id in customers.

pd.merge(orders, customers, left_on='customer_id', right_on='id'). 

If we use this syntax, we’ll end up with two columns called id, one from the first table and one from the second. Pandas won’t let you have two columns with the same name, so it will change them to id_x and id_y.

The new column names id_x and id_y aren’t very helpful for us when we read the table. We can help make them more useful by using the keyword suffixes. We can provide a list of suffixes to use instead of “_x” and “_y”.

pd.merge(orders,customers,left_on='customer_id',right_on='id',suffixes=['_order', '_customer'])

**Outer Merge**

we saw that when we merge two DataFrames whose rows don’t match perfectly, we lose the unmatched rows. This type of merge (where we only include matching rows) is called an inner merge. There are other types of merges that we can use when we want to keep information from the unmatched rows.

Suppose that two companies, Company A and Company B have just merged. They each have a list of customers, but they keep slightly different data. Company A has each customer’s name and email. Company B has each customer’s name and phone number. They have some customers in common, but some are different.

If we wanted to combine the data from both companies without losing the customers who are missing from one of the tables, we could use an Outer Join. An Outer Join would include all rows from both tables, even if they don’t match. Any missing values are filled in with None or nan (which stands for “Not a Number”).

Example of syntax: pd.merge(company_a, company_b, how='outer')

In [ ]:
merged_outer = pd.merge(df12, df13, how = "outer")
merged_outer

**Definition of SQL  = Structured Query Language**

A table is a collection of related data held in a table format within a database,  a table is a set of data elements (values) using a model of vertical columns (identifiable by name) and horizontal rows, the cell being the unit where a row and column intersect.

What is SQL? SQL (Structured Query Language) is a programming language used to communicate with data stored in a relational database management system. SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

**Left Merge Right Merge**

A Left Merge includes all rows from the first (left) table, but only rows from the second (right) table that match the first table.

Right merge is the exact opposite of left merge. Here, the merged table will include all rows from the second (right) table, but only rows from the first (left) table that match the second table.

If a key combination does not appear in either the left or right tables, the values in the joined table will be NA. The items with null in value are carried by df12, but not df13.

In [ ]:
merged_left = pd.merge(df12, df13, how = "left")
merged_left

In [ ]:
merged_right = pd.merge(df12, df13, how = "right")
merged_right

**Concatenate DataFrames**

Sometimes, a dataset is broken into multiple tables. For instance, data is often split into multiple CSV files so that each download is smaller.

When we need to reconstruct a single DataFrame from multiple smaller DataFrames, we can use the method pd.concat([df1, df2, df2, ...]). This method only works if all of the columns are the same in all of the DataFrames.

The concat() function (in the main pandas namespace) does all of the heavy lifting of performing concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes. Note that I say “if any” because there is only a single possible axis of concatenation for Series.

In [16]:
df14 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3'],'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},index=[0, 1, 2, 3]) #indexing the dataframe 
df15 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],'B': ['B4', 'B5', 'B6', 'B7'],'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},index=[4, 5, 6, 7])#indexing the dataframe
df16 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],'D': ['D2', 'D3', 'D6', 'D7'],'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
df16

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [ ]:
frames = [df14, df15]
pd.concat(frames).reset_index(drop = True)

In [ ]:
#set axis 1, and take the intersection join = "inner", inner is for intersection 
pd.concat([df14, df16], axis = 1, join = "inner").reset_index(drop = True)

In [ ]:
#are acelasi outup ca si pd.concat() method
pd.merge(df14, df15, how = "outer")

**Pandas isnull() notnull()**

While making a Data Frame from a csv file, many blank columns are imported as null value into the Data Frame which later creates problems while operating that data frame. Pandas isnull() and notnull() methods are used to check and manage NULL values in a data frame

Return Type: Dataframe of Boolean values which are True for NaN values

notnull() return False for NaN and isnull() return True for NaN value

In [ ]:
array = np.array([[2, np.nan, 3], [6, 7, np.nan]])
pd.isnull(array)

**Pandas fillna()**

Replace null values into the dataframe, manage and let the user replace NaN values with some value of their own

In [ ]:
df17 = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))
df17

In [ ]:
#we can propagate non-null values forward or backward
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df17.fillna(value = values)

In [ ]:
#replace NaN elements with 0
df17.fillna(True)

In [ ]:
#only replace the NaN element
df17.fillna(value=values, limit=1)

**Pandas apply() function**

The Pandas apply() function can be used to apply a function on every value in a column or row of a DataFrame, and transform that column or row to the resulting values.

By default, it will apply a function to all values of a column. To perform it on a row instead, you can specify the argument axis=1 in the apply() function call.

In [ ]:
df18 = pd.DataFrame({"names":['Lauren Durham','Grace Sellers','Shirley Rasmussen','Brian Rojas','Samantha Mosley','Louis Guzman','Denise Mcclure','James Raymond'], "hourly_wage" : [19, 18, 14, 17, 19, 18, 13, 17], "hours_worked" : [43,30,47,38,39,40,42,45]})
df18

In [ ]:
#this functions doubles the input value
def double(x):
    return x * 2
#apply this function to double each value ina specified columns
#lambda function can also be supplied to apply
mylambad = lambda x: x - 3
df18["hours_doubled"] = df18['hours_worked'].apply(double)
df18["without_bonus"] = df18["hourly_wage"].apply(double)
df18

**Pandas’ Groupby**

In a pandas DataFrame, aggregate statistic functions can be applied across multiple rows by using a groupby function. In the example, the code takes all of the elements that are the same in Name and groups them, replacing the values in Grade with their mean. Instead of mean() any aggregate statistics function, like median() or max(), can be used. Note that to use the groupby() function, at least two columns must be supplied.

**Efficient Data Storage with Multiple Tables**

For efficient data storage, related information is often spread across multiple tables of a database.

Consider an e-commerce business that tracks the products that have been ordered from its website. Business data for the company could be split into three tables:

**orders** would contain the information necessary to describe an order: order_id, customer_id, product_id, quantity, and timestamp

**products** would contain the information to describe each product: product_id, product_description and product_price

**customers** would contain the information for each customer: customer_id, customer_name, customer_address, and customer_phone_number

This table structure prevents the storage of redundant information, given that each customer’s and product’s information is only stored once, rather than each time a customer places an order for another item.

In [ ]:
df19 = pd.DataFrame({
  'model': ['Model S', 'Audi A4'],
  'price': [320550, 480250], 
})
df19["company"] = ["Tesla", "Audi"]
df19

**Convert Pandas dataframe into a list**

df.values.tolist()

In [ ]:
products = {'Product': ['Tablet','iPhone','Laptop','Monitor'],
            'Price': [250,800,1200,300]
            }
df = pd.DataFrame(products, columns= ['Product', 'Price'])
df

In [ ]:
#one case
products_list = df.values.tolist()
print (products_list)

In [ ]:
#second case
to_list = df.Product.tolist()
print(to_list)

**Time Format**

**AttributeError: 'str' object has no attribute 'datetime'**

Columns with dates are string format in DataFrame.

This error means that your data type is string format and needs to be converted in Timestamp in order to split up date to : year, month, day, minutes, seconds and create a new column see example below

**'Timestamp' object has no attribute 'split'**

Guess what, the format is the other way arround and if you would like to split date and filter just one element, you cannot use split() because this works with string format

In [15]:
# case three 
split_date = lambda row: row.split('/') [0]
birth['month'] = birth['date_of_birth'].apply(split_date)
birth

AttributeError: 'Timestamp' object has no attribute 'split'

In [8]:
birth = pd.DataFrame({
    'name': ['alice','bob','charlie'],
    'date_of_birth': ['10/25/2005','10/29/2002','01/01/2001']})
birth

      name date_of_birth
0    alice    10/25/2005
1      bob    10/29/2002
2  charlie    01/01/2001

In [9]:
#case one 
birth['date_of_birth'] = pd.to_datetime(birth['date_of_birth'])
birth['month'] = birth['date_of_birth'].apply(lambda x: x.strftime('%m'))
birth

      name date_of_birth month
0    alice    2005-10-25    10
1      bob    2002-10-29    10
2  charlie    2001-01-01    01

In [10]:
#case two 
birth['date_of_birth'] = pd.to_datetime(birth['date_of_birth'])
birth['month'] = birth['date_of_birth'].dt.month
birth

      name date_of_birth  month
0    alice    2005-10-25     10
1      bob    2002-10-29     10
2  charlie    2001-01-01      1

**Determine whether someone is old or young and then add that classification to a new column**
- create a new column where user is classified by the age, people under 50 years age is considered young and the rest elderly

In [19]:
df20 = pd.read_csv("KNN_Dataset.csv")
df20.loc[df20.Age < 50, 'Aspect']= 'young'
df20.loc[df20.Age >= 50, 'Aspect']= 'elderly'
df20

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Aspect
0,6,148,72,35,0,33.6,0.627,50,1,elderly
1,1,85,66,29,0,26.6,0.351,31,0,young
2,8,183,64,0,0,23.3,0.672,32,1,young
3,1,89,66,23,94,28.1,0.167,21,0,young
4,0,137,40,35,168,43.1,2.288,33,1,young
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,elderly
764,2,122,70,27,0,36.8,0.340,27,0,young
765,5,121,72,23,112,26.2,0.245,30,0,young
766,1,126,60,0,0,30.1,0.349,47,1,young
767,1,93,70,31,0,30.4,0.315,23,0,young